<div *ngIf="hero">
  <hr>
  <h3>{{ hero.name | uppercase }}</h3>
  <form [formGroup]="formHero">
    <div class="form-group">
        <label for="id">Id</label>
        <input type="text" class="form-control" id="id" formControlName="id" disabled=true>
      </div>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" formControlName="name" placeholder="Informe nome do herói">
    </div>
    <div class="form-group">
      <label for="power">Password</label>
      <input type="text" class="form-control" id="power" formControlName="power" placeholder="Informe o poder do herói">
    </div>
    <div class="form-group">
      <label for="dateRegister">Date Register</label>
      <input type="text" class="form-control" id="dateRegister" formControlName="dateRegister" disabled=true>
    </div>
  </form>
</div>
