<app-header></app-header>
  <div class="dojo-top">
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Força</th>
            <th scope="col">Registro</th>
            <th scope="col" class="dojo-acoes-lista">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let hero of heroes" >
            <td scope="row">{{ hero.id }}</td>
            <td scope="row">{{ hero.name }}</td>
            <td scope="row">{{ hero.power }}</td>
            <td scope="row">{{ hero.dateRegister | date: 'dd/MM/yyyy' }}</td>
            <td scope="row" class="dojo-acoes-lista">
              <a class="btn" routerLink='/heroes/detail' title="Visualizar Herói">
                <i class="fa fa-search" aria-hidden="true"></i>
              </a>
              <a class="btn" href="#" title="Editar Herói">
                <i class="fa fa-pencil"></i>
              </a>
              <button class="btn" title="Deletar Herói" (click)="setarHeroi(hero)" data-toggle="modal" data-target="#exampleModal">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<app-modal title="{{ title }}" message="{{ message }}" (notify)="deletarHeroi()"></app-modal>
<app-footer></app-footer>
