<app-header></app-header>
  <div class="dojo-top">
    <h2>Lista de Heróis</h2>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Força</th>
            <th scope="col">Registro</th>
            <th scope="col" class="dojo-acoes-lista">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let hero of heroes | paginate: { itemsPerPage: 10, currentPage: page }" >
            <td scope="row">{{ hero.id }}</td>
            <td scope="row">{{ hero.name }}</td>
            <td scope="row">{{ hero.power }}</td>
            <td scope="row">{{ hero.dateRegister | date: 'dd/MM/yyyy' }}</td>
            <td scope="row" class="dojo-acoes-lista">
              <a class="btn" routerLink="/heroes/detail/{{hero.id}}" title="Visualizar Herói">
                <i class="fa fa-search" aria-hidden="true"></i>
              </a>
              <a class="btn" routerLink="/heroes/edit/{{hero.id}}" title="Editar Herói">
                <i class="fa fa-pencil"></i>
              </a>
              <button class="btn" title="Deletar Herói" (click)="setarHeroi(hero)"
                  data-toggle="modal" data-target="#exampleModal">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls style="text-align: center" (pageChange)="page = $event" responsive="true"></pagination-controls>
    </div>
  </div>
<app-modal title="{{ title }}" message="{{ message }}" (notify)="deletarHeroi()"></app-modal>
<app-footer></app-footer>
