<app-header></app-header>
<div *ngIf="hero" class="dojo-top">
  <h2>Detalhes do Herói: {{ hero.name | uppercase }}</h2>
  <hr>
  <div>
    <div class="form-group">
      <label for="name">Nome: </label>
      <input type="text" class="form-control" id="name" placeholder="Nome do herói" value="{{ hero.name }}" disabled>
    </div>
    <div class="form-group">
      <label for="power">Força: </label>
      <input type="text" class="form-control" id="power" placeholder="Poder do herói" value="{{ hero.power }}" disabled>
    </div>
    <div class="form-group">
      <label for="dateRegister">Data de Registro: </label>
      <input type="text" class="form-control" id="dateRegister" value="{{ hero.dateRegister | date: 'dd/MM/yyyy' }}" disabled>
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-primary btn-block" (click)="voltar()">Voltar</button>
  </div>
</div>
<app-footer></app-footer>
