<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-blue">
    <a class="nav-link home">
      <img height="40" src="assets/images/angular/shield-large.svg" width="37">
    </a>
    <a class="navbar-brand" href="#">Tour of Heroes</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
      data-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownItem" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Heroes</a>
          <div class="dropdown-menu" aria-labelledby="dropdownItem">
            <a class="dropdown-item" href="#">New</a>
            <a class="dropdown-item" href="#">List</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
