label {
  color: #000000;
  padding-top: 8px;
}

button {
  font-weight: bold;
}

.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
  padding-top: 100px;
}

.dojo-footer-login {
  font-weight: bold;
  color: #1976d2!important;
}
