<form class="form-signin">
  <div class="text-center mb-4">
    <img alt="Tour of Heroes" height="100" width="100" src="assets/images/angular/shield-large.svg">
  </div>

  <div class="form-label-group">
    <label for="inputEmail">Usuário</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Informe seu Email" autofocus="">
  </div>

  <div class="form-label-group">
    <label for="inputPassword">Senha</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Informe sua Senha">
  </div>

  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Lembrar senha
    </label>
  </div>
  <button class="btn btn-primary btn-block" type="button" (click)="login()">Login</button>
  <p class="mt-5 mb-5 text-muted text-center dojo-footer-login">© Tour of Heroes - 2019</p>
</form>
