<div class="container">
  <form [formGroup]="formHero">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" placeholder="Informe o nome do Herói" formControlName="name">
    </div>
    <div class="form-group">
      <label for="power">Power</label>
      <input type="text" class="form-control" id="power" placeholder="Informe o poder do Herói">
    </div>
    <div class="form-group">
      <label for="dateRegister">Date Register</label>
      <label class="form-control" id="dateRegister">{{ formHero.get('dateRegister').value }}</label>
    </div>
    <button type="submit" class="btn btn-primary" (click)="save()">Salvar</button>
  </form>
</div>
