<div class="container">
  <div class="card">
    <div class="card-header">
      Dojo de Angular - Tour of Heroes
    </div>
    <div class="card-body">
      <h3>Lista de Heróis:</h3>
      <ul class="list-group list-group-flush">
        <li *ngFor="let hero of heroes" class="list-group-item">
          <span>id: </span>{{ hero.id }}<br/>
          <span>name: </span>{{ hero.name | uppercase }}<br/>
          <span>power: </span>{{ hero.power | lowercase }}<br/>
          <span>register: </span>{{ hero.dateRegister | date: 'dd/MM/yyyy' }}<br/>
        </li>
      </ul>
      <br>
      <h3>Lista de Heróis Mocados:</h3>
      <div class="list-heroes-mock">
        <ul class="list-group list-group-flush">
          <li *ngFor="let hero of heroesMock" [class.selected]="hero === selectedHero" class="list-group-item"
              (click)="onSelectHero(hero)">
            <span>id: </span>{{ hero.id }}<br/>
            <span>name: </span>{{ hero.name | uppercase }}<br/>
            <span>power: </span>{{ hero.power | lowercase }}<br/>
            <span>register: </span>{{ hero.dateRegister | date: 'dd/MM/yyyy' }}<br/>
          </li>
        </ul>
      </div>
      <app-detail-hero [hero]=selectedHero></app-detail-hero>
      </div>
    </div>
  </div>
<div>
