li {
  font-weight: bold;
  color: darkgreen;
  font-size: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

span {
  font-weight: bold;
}

.list-heroes-mock > ul > li {
    color: black;
    font-weight: normal;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* HeroesComponent's private CSS styles */
.selected {
  background-color: #CFD8DC;
  color: white;
}
